<%--
  This file defines the standard navigation header used across the application.
  It includes a dark-themed Bootstrap navbar with the project branding "Fraunhofer".
  This header is included in EJS views using: <%- include('header') %>
--%>

<!-- Bootstrap dark-themed navigation bar -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Application branding/logo as a link -->
    <a class="navbar-brand" href="#">Fraunhofer</a>
  </div>
</nav>